files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE REQUEST-----
      MIICjjCCAXYCAQAwSTELMAkGA1UEBhMCVVMxEjAQBgNVBAgMCVdpc2NvbnNpbjEQ
      MA4GA1UEBwwHTWFkaXNvbjEUMBIGA1UECgwLRW50IFByb2plY3QwggEiMA0GCSqG
      SIb3DQEBAQUAA4IBDwAwggEKAoIBAQD6kZENo8tbTp9ggrLw6t4YBqY9l00Yf1h4
      9XB2UoTn+Mcu/zDxSCqAZfSNtXrp+Bh8JZss1fc4JnNeEd6Y7DxMa+CpoJ0ffeKd
      yCAr43lWsHFa1zU/WX6iprwHWBWlePkdOOqTaj+X31ufvHkAZ3C+pwZRqZy+/fQ8
      oRwmb8VFQI1zDX+W3mJ2Vs/FHHIdaYWMF3XWUd4bJWHq1PerWtRAEhDAWPsrggJb
      RgcLJYfdQ0YpNksTqXzoM9OEZUYakHaFEYVFGxn7+rlzlCxy7WyOvS52jnb9w0ws
      CvsJYHpyPYDoxhfgOg5EMRdSv98Y67M4MaBOGTHawRh1F8ly9VbdAgMBAAGgADAN
      BgkqhkiG9w0BAQsFAAOCAQEA22sgAvbGi16l5+ZnlrV3Tad6e+y42bPcEL+V6mjZ
      /53Eub4tURe+VUw7ANDZ+UBseWgCCQHxKRJGtiz2VL+3x0DHk4lC4I0kvpAoUGco
      +Urx57jNuppiCajtlkMMb068NUQWQyPvCXr39yy7inbiY+qL90/mZJYCJ571sR+1
      JXvXkVW7WEyILzdkcvylwPQXLmRbFaqZQizFHUzBjbkOcWfzHpzb1d90L+usA2uk
      CMWxsWClB1Z/biwoIg5CwV+9Hj+OT2sQMKNtdyiRXQ8htygXVGvpAMYmtueW1zlj
      S6TPBwnnekHMnNf7G74ZyLbf/tg/C4PVCAPjJVChIYFMsg==
      -----END CERTIFICATE REQUEST-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA+pGRDaPLW06fYIKy8OreGAamPZdNGH9YePVwdlKE5/jHLv8w
      8UgqgGX0jbV66fgYfCWbLNX3OCZzXhHemOw8TGvgqaCdH33incggK+N5VrBxWtc1
      P1l+oqa8B1gVpXj5HTjqk2o/l99bn7x5AGdwvqcGUamcvv30PKEcJm/FRUCNcw1/
      lt5idlbPxRxyHWmFjBd11lHeGyVh6tT3q1rUQBIQwFj7K4ICW0YHCyWH3UNGKTZL
      E6l86DPThGVGGpB2hRGFRRsZ+/q5c5Qscu1sjr0udo52/cNMLAr7CWB6cj2A6MYX
      4DoORDEXUr/fGOuzODGgThkx2sEYdRfJcvVW3QIDAQABAoIBAHxWib1T/1By5mGU
      2cj1M3qGqi28C9TRNIzpdoIwlqUp7WVj2tyQbA7FCSLc4H6Dz1qjqqoIDyJ86hjP
      Ez+dUpq1mYlzGyUKac7UBSriOU8MRWPHkTO7bDy4MmwOiMdRDYUzviuiuKXbf3L3
      qq/JpMfmyBrz6MVZ7b28UOS96A1hbLFPBuw56TIo3CP08ant8r0Ue3HB5FhBYzTm
      hTvu7+2+Q6Tt5G3FxAEIitCQzNtXL/DpghFAxWQad+3mIyQa8dmNQN3wk/UXC6cX
      BikZreWC4HgIRlfAR4ifFvFyrUwgDejxaSEaPnnCKXLIk/CfnmY9bNRQKLQu/QDx
      YAIoIr0CgYEA/0U1f7CkgoIzKmmKoRtaMtHupHAf1u66EHdowuoR0X5zZ+ZvouAp
      gH3FPetjLtW0gDmpf+acz4fXuc3yZEfdoIF7e08xXHfcpxeHJ2Qs3bQFj3xnDTV/
      Jiq9+IvM/+kQ52zKFit68SkdgZgym68/Sn3WgIoR43bx0l/y1Moyu3sCgYEA+0jq
      zbjkus5Qi2XXeCzkwT9fb79HQe+EVMtMUvarr3F9pmDAeLSPJcAnDkb80QLNgm8Y
      A97uQWI39+yDEv0Wdln+kteqe6ewtdc/ZcUgzpdUCNihPBwUo8Ip7apQke632BzX
      xaPPr+5mGIkTvXbKmvON2YL70C2TO9mJLCTDm4cCgYEAim0qdMMCgu899crj7Tea
      8yIaijtvWKt+ZL2MJt6tqPAsfvRcJ3PtrYsGcex6jYQ/7KTYQM56zKN6nXyL7Et4
      aLiukJDCUMWC921v0jGljtg3h7bLX0NaXwUgnW6aTVBC5Wx+LgWIFszX/lXdY8Vl
      yexxbKTyzGnM+usjELdRSY8CgYA8iu73rep+D6NcUqc9byOWY9xsohtbCYhKnci/
      3Gq1FJT/dyQocOhkYg2G5ReYjCJToMyaciXZXv65HyTdeFjnHvu1CX0r2dU7mqbN
      sFcdL1yx3O/L+cAHTIqplnVfE7L7wMdD+Rna+4dhtfUpmutptfChTWu6VqC4tMrV
      9e2jFQKBgQDvRYvHKSjM1Ogcct0S95v7fZjQzP5Lsg4t9RtAM9n1ibU400iiCb5/
      9d/y5SYRjvdAalOhmIlBuyy7GTPCwPLI8Oj/phnrVuU4xheGeW9x1Xp+egPUYuvt
      3pOmOeZ/a10qOW9lxzPTIEmopTeJQMnNp1lRqPEyPy13QKXubgEvlw==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart