files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDDjCCAfYCCQCkU/cnpDqv3jANBgkqhkiG9w0BAQsFADBJMQswCQYDVQQGEwJV
      UzESMBAGA1UECAwJV2lzY29uc2luMRAwDgYDVQQHDAdNYWRpc29uMRQwEgYDVQQK
      DAtFbnQgUHJvamVjdDAeFw0yNTEyMDMxMTAxNDVaFw0yNjEyMDMxMTAxNDVaMEkx
      CzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4xEDAOBgNVBAcMB01hZGlz
      b24xFDASBgNVBAoMC0VudCBQcm9qZWN0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
      MIIBCgKCAQEA+pGRDaPLW06fYIKy8OreGAamPZdNGH9YePVwdlKE5/jHLv8w8Ugq
      gGX0jbV66fgYfCWbLNX3OCZzXhHemOw8TGvgqaCdH33incggK+N5VrBxWtc1P1l+
      oqa8B1gVpXj5HTjqk2o/l99bn7x5AGdwvqcGUamcvv30PKEcJm/FRUCNcw1/lt5i
      dlbPxRxyHWmFjBd11lHeGyVh6tT3q1rUQBIQwFj7K4ICW0YHCyWH3UNGKTZLE6l8
      6DPThGVGGpB2hRGFRRsZ+/q5c5Qscu1sjr0udo52/cNMLAr7CWB6cj2A6MYX4DoO
      RDEXUr/fGOuzODGgThkx2sEYdRfJcvVW3QIDAQABMA0GCSqGSIb3DQEBCwUAA4IB
      AQBQCwbeTzDFUPtNi4lgEY08WbdP1Ds9c5XifvtsFl3PDVYwGRw3X5whjGNWU4P2
      3QbnhPAUvz0PQgj1mDIma77TU+oXus6QxXfsLuEqowg8UXKSF2ic/+Zz+eEiFvP/
      OQafmGSX1+HgZ475IevzHxb7k28paRQSkeqMllUPISC3dSkuzVtHBEZ4QqPjY+Jt
      FF9xwRwSzSjo+Qz5SyHNp2sS11cRCSeTNnati3Q9dEITUXljwzhY9h51Aiakap4d
      lUDJ1133HFDiWU4yQyV38uMWcxKPuwr5P9X0gRBUrtU/w9o1tNquhcVeE9M4glJz
      0QQfxFigXFZezzR9d6vRGiOU
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA+pGRDaPLW06fYIKy8OreGAamPZdNGH9YePVwdlKE5/jHLv8w
      8UgqgGX0jbV66fgYfCWbLNX3OCZzXhHemOw8TGvgqaCdH33incggK+N5VrBxWtc1
      P1l+oqa8B1gVpXj5HTjqk2o/l99bn7x5AGdwvqcGUamcvv30PKEcJm/FRUCNcw1/
      lt5idlbPxRxyHWmFjBd11lHeGyVh6tT3q1rUQBIQwFj7K4ICW0YHCyWH3UNGKTZL
      E6l86DPThGVGGpB2hRGFRRsZ+/q5c5Qscu1sjr0udo52/cNMLAr7CWB6cj2A6MYX
      4DoORDEXUr/fGOuzODGgThkx2sEYdRfJcvVW3QIDAQABAoIBAHxWib1T/1By5mGU
      2cj1M3qGqi28C9TRNIzpdoIwlqUp7WVj2tyQbA7FCSLc4H6Dz1qjqqoIDyJ86hjP
      Ez+dUpq1mYlzGyUKac7UBSriOU8MRWPHkTO7bDy4MmwOiMdRDYUzviuiuKXbf3L3
      qq/JpMfmyBrz6MVZ7b28UOS96A1hbLFPBuw56TIo3CP08ant8r0Ue3HB5FhBYzTm
      hTvu7+2+Q6Tt5G3FxAEIitCQzNtXL/DpghFAxWQad+3mIyQa8dmNQN3wk/UXC6cX
      BikZreWC4HgIRlfAR4ifFvFyrUwgDejxaSEaPnnCKXLIk/CfnmY9bNRQKLQu/QDx
      YAIoIr0CgYEA/0U1f7CkgoIzKmmKoRtaMtHupHAf1u66EHdowuoR0X5zZ+ZvouAp
      gH3FPetjLtW0gDmpf+acz4fXuc3yZEfdoIF7e08xXHfcpxeHJ2Qs3bQFj3xnDTV/
      Jiq9+IvM/+kQ52zKFit68SkdgZgym68/Sn3WgIoR43bx0l/y1Moyu3sCgYEA+0jq
      zbjkus5Qi2XXeCzkwT9fb79HQe+EVMtMUvarr3F9pmDAeLSPJcAnDkb80QLNgm8Y
      A97uQWI39+yDEv0Wdln+kteqe6ewtdc/ZcUgzpdUCNihPBwUo8Ip7apQke632BzX
      xaPPr+5mGIkTvXbKmvON2YL70C2TO9mJLCTDm4cCgYEAim0qdMMCgu899crj7Tea
      8yIaijtvWKt+ZL2MJt6tqPAsfvRcJ3PtrYsGcex6jYQ/7KTYQM56zKN6nXyL7Et4
      aLiukJDCUMWC921v0jGljtg3h7bLX0NaXwUgnW6aTVBC5Wx+LgWIFszX/lXdY8Vl
      yexxbKTyzGnM+usjELdRSY8CgYA8iu73rep+D6NcUqc9byOWY9xsohtbCYhKnci/
      3Gq1FJT/dyQocOhkYg2G5ReYjCJToMyaciXZXv65HyTdeFjnHvu1CX0r2dU7mqbN
      sFcdL1yx3O/L+cAHTIqplnVfE7L7wMdD+Rna+4dhtfUpmutptfChTWu6VqC4tMrV
      9e2jFQKBgQDvRYvHKSjM1Ogcct0S95v7fZjQzP5Lsg4t9RtAM9n1ibU400iiCb5/
      9d/y5SYRjvdAalOhmIlBuyy7GTPCwPLI8Oj/phnrVuU4xheGeW9x1Xp+egPUYuvt
      3pOmOeZ/a10qOW9lxzPTIEmopTeJQMnNp1lRqPEyPy13QKXubgEvlw==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart